My workflow 2.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9,
              "triggerAtMinute": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "3d085af9-46a7-4cb2-86a8-b41f6b5337be",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://jsearch.p.rapidapi.com/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "Fresher Data Analyst in India"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-RapidAPI-Key",
              "value": "db8443a207mshf7169272a302a5ep1c8536jsn6efc5297f3a2"
            },
            {
              "name": "X-RapidAPI-Host",
              "value": "jsearch.p.rapidapi.com"
            }
          ]
        },
        "options": {
          "lowercaseHeaders": false
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "e830598c-e70b-4344-94fb-9edb00e2a371",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "// This picks only the useful info from the JSearch results\nconst jobs = $json.data;\n\nreturn jobs.map(job => {\n  return {\n    date: job.job_posted_at_datetime_utc || new Date().toISOString(),\n    role: job.job_title,\n    company: job.employer_name,\n    location: job.job_city + \", \" + job.job_country,\n    link: job.job_apply_link,\n    // Truncate description to 500 characters so the sheet stays neat\n    description: job.job_description ? job.job_description.substring(0, 500) + \"...\" : \"No description\"\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        368,
        0
      ],
      "id": "463b107f-e9bb-4b63-b224-d4ac4d19d450",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1WUeU_sJDzC0h65y8wnn7V8_PQrDQWmD83A-_aikvxBA",
          "mode": "list",
          "cachedResultName": "job_tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WUeU_sJDzC0h65y8wnn7V8_PQrDQWmD83A-_aikvxBA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 460585209,
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WUeU_sJDzC0h65y8wnn7V8_PQrDQWmD83A-_aikvxBA/edit#gid=460585209"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Role": "={{ $json.role }}",
            "Company": "={{ $json.company }}",
            "Link": "={{ $json.link }}",
            "Data Found": "={{ $json.date }}"
          },
          "matchingColumns": [
            "Link"
          ],
          "schema": [
            {
              "id": "Data Found",
              "displayName": "Data Found",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Role",
              "displayName": "Role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link",
              "displayName": "Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Column 6",
              "displayName": "Column 6",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        576,
        0
      ],
      "id": "4d36cfb7-50c4-42a5-9a15-1ee3fca87ae0",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Cknvt6OEez2n9Bwc",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1WUeU_sJDzC0h65y8wnn7V8_PQrDQWmD83A-_aikvxBA",
          "mode": "list",
          "cachedResultName": "job_tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WUeU_sJDzC0h65y8wnn7V8_PQrDQWmD83A-_aikvxBA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 460585209,
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WUeU_sJDzC0h65y8wnn7V8_PQrDQWmD83A-_aikvxBA/edit#gid=460585209"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status",
              "lookupValue": "Pending"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -176,
        288
      ],
      "id": "6a90bb33-bb74-4f32-9ee6-a6648ba31446",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Cknvt6OEez2n9Bwc",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze this Job: {{ $json.Role }} at {{ $json.Company }}. Use this link for context: {{ $json.Link }}. Task: Rewrite my 'Professional Summary' and 'Key Skills' to match this job perfectly for ATS.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        384,
        288
      ],
      "id": "b32f75c5-1fe0-4da4-a5be-08b505e6ce48",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        352,
        496
      ],
      "id": "1c5cb3fa-e450-494d-a969-506ae54fe441",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "jZMOfanPEAvOCSFg",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1WUeU_sJDzC0h65y8wnn7V8_PQrDQWmD83A-_aikvxBA",
          "mode": "list",
          "cachedResultName": "job_tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WUeU_sJDzC0h65y8wnn7V8_PQrDQWmD83A-_aikvxBA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 460585209,
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WUeU_sJDzC0h65y8wnn7V8_PQrDQWmD83A-_aikvxBA/edit#gid=460585209"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Link": "={{ $('Get row(s) in sheet').item.json.Link }}",
            "Status": "Resume Ready",
            "Column 6": "={{ $execution.resumeUrl }}"
          },
          "matchingColumns": [
            "Link"
          ],
          "schema": [
            {
              "id": "Data Found",
              "displayName": "Data Found",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Role",
              "displayName": "Role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link",
              "displayName": "Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Column 6",
              "displayName": "Column 6",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        784,
        288
      ],
      "id": "31282ddd-bae8-45aa-9f97-35293871caa2",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Cknvt6OEez2n9Bwc",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -464,
        288
      ],
      "id": "6d55a13e-57d3-4673-a4dd-e79215ea0e8a",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        128,
        288
      ],
      "id": "2a78c834-df27-4049-bf54-db9e473ff0f4",
      "name": "Wait",
      "webhookId": "2d53612f-180c-4500-b25a-cb821bd668b5"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        []
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "59d442f3-f047-4d64-906d-5e80ad580ebd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d787671ae4f4284555c6b85017198a2a06ebaa550b6a267ffb447bd7ffac9f7f"
  },
  "id": "c4FSRsFFe2E1jwQk",
  "tags": []
}